#contenido {
  width: 30rem;
  position: absolute;
  top: 2rem;
  left: 10rem;
}

#imagen {
  width: fit-content;
  position: absolute;
  left: 45rem;
  bottom: 10rem;
  text-align: center;
}

#imagen img {
  width: 300px;
}
