@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  box-sizing: border-box;
}

:root {
  --primario: #121212;
  --secundario: #020202;
  --terciario: white;
  --fondo: #1b1818;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--fondo);
}

.app__contenedor {
  width: 100%;
  height: 100%;
}

.app__nav {
  position: fixed;
  height: 100%;
  width: 5rem;
  background-color: var(--primario);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.app__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app__nav ul a {
  text-decoration: none;
}

.app__nav ul li {
  list-style: none;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app__nav ul li:hover {
  opacity: 0.5;
  cursor: pointer;
}

.app__nav ul li span {
  margin-top: 0.5rem;
  font-size: 0.5rem;
}

.app__tarjeta {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.app__flechas {
  font-size: 2rem;
  width: calc(4rem + 10px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  right: 10px;
}

.app__flechas a {
  color: white;
}

/* Fondo */
.oceano {
  height: 5%;
  width: 100%;
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  background: #095071;
}

.ola {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.ola:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
