#seccion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  padding-top: 2rem;
  width: calc(100% - 5rem);
  height: 100%;
  position: relative;
}

#contenido {
  width: fit-content;
}
