#tarjeta {
  position: absolute;
  top: 5rem;
  left: 10rem;
  width: 650px;
}

#imagen1 {
  position: fixed;
  top: 5rem;
  right: 5rem;
}

#imagen2 {
  position: fixed;
  top: 21rem;
  right: 5rem;
}
