#seccion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  width: calc(100% - 5rem);
  height: 90%;
  position: relative;
  z-index: -1;
}

#tarjeta {
  width: 800px;
}

#imagen img {
  width: 300px;
}
