#tarjeta {
  position: absolute;
  top: 5rem;
  left: 12rem;
  width: 590px;
}
#imagen {
  position: fixed;
  top: 2rem;
  right: 12rem;
}
#imagen2 {
  position: fixed;
  top: 20rem;
  right: 12rem;
}
