#contenido-1 {
  width: 25%;
  display: inline-block;
}

#contenido-2 {
  width: 25%;
  display: inline-block;
}

#contenido-3 {
  width: 25%;
  display: inline-block;
}

.fila {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#contenido-1 img,
#contenido-2 img,
#contenido-3 img {
  width: 100%;
}
